# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environnements virtuels et secrets
.venv/
venv/
env/
.env
.env.*
!.env.example

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE et OS
.vscode/
.idea/
.DS_Store
